@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

:root{
    --primary-color: #e6eff8;
    --subtle-gray: #cad4dc;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body, html{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#main-container{
    display: flex;
    height: 100%;
}

#name{
    font-size: 1.2rem;
}

.icons{
    font-size: 1.5rem;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem;
    width: 10rem;
    
}

#resizer{
    width: 3px;
    cursor: ew-resize;

}

#resizer:hover{
    background-color: var(--subtle-gray);
}

#navbar .top-left-container{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: baseline;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

main{
    flex: 1;
    padding: 1rem;

}

ul.list-container-parent{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}



.list-container{
    display: flex;
    gap: 0.5rem;
    padding: 5px;

}

.list-container:hover{
    background-color: var(--subtle-gray);
    border-radius: 5px;
    cursor: pointer;
}